@charset "UTF-8";

.title {
	text-align: center; /* 文字中央寄せ */
	letter-spacing: 0.3em; /* 文字の間隔 */
	font-weight: bold; /* 文字太め */
	margin-top: 200px;
	font-size: 50px;
}

.push {
	padding: 1em; /* ボタンの余白 */
	display: block; /* ボタン中央 */
	width: 150px;
	margin: 0 auto;
}

body {
	background-image: url(../UserImg/user_home.jpg); /* 背景画像指定 */
	background-size: cover; /* 画面フルサイズ*/
	background-repeat: no-repeat; /* 画像繰り返しなし */
	background-position: center; /* 画像中央寄せ */
	width: auto;
	height: auto;
}

/* 画像を暗くする */

