@charset "UTF-8";

.itemInfo {
	text-align: center;
	margin: auto;
	width: 80%;
}

.itemInfo div {
	background: white;
	box-shadow: 2px 2px 2px 2px #efefef;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

p {
	text-decoration: none;
	padding: 1vh 2vh;
	text-align: center;
}

.link a{
	text-align: right;
	text-decoration: none;
}

.cart {
	border-top: 3px dotted #efefef;
}

a:link { /*アクセスしたことのないリンク*/
	color: black;
}

a:hover { /*マウスが上に乗っている状態*/
	color: #FF0099;
	text-decoration: underline;
}